.wrapper {
  margin-top: 2.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70rem;
  border: 1px solid gray;
  font-size: 25px;
}

.rightBox {
  display: flex;
  align-items: center;
}

.rightBox>div {
  color: #18224b;
}

.rightBox img:hover {
  border-radius: 10px;
  cursor: pointer;
  background-color: #7ccff0;
}

.telega {
  margin-right: 10px;
  margin-left: 10px;

}