body {
  background-color: #ffffff;
  /* width: 70rem;
  margin-left: auto;
  margin-right: auto; */
}

::-webkit-input-placeholder {
  text-align:center;
  }
  
  :-moz-placeholder { 
     text-align:center;  
  }
  
  ::-moz-placeholder { 
     text-align:center;  
  }
  
  :-ms-input-placeholder {  
     text-align:center; 
  }
